# Rust
/target
/debug
/release
**/*.rs.bk
Cargo.lock

# IDEs
.vscode/
.idea/
*.iml

# OS
Thumbs.db
.DS_Store

# Project Specific
deve.db
vault/
*.log

# Web
dist

repomix-output.xml

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.*

# Misc
tmp/
*.swp
*.swo
.DS_Store
*.redb